:root {
    --color-primario: #64A6BD;
    --color-secundario: #90A8C3;
    --color-acento: #F4CAE0;
    --color-fondo: #D7B9D5;
    --color-texto: #333333;
    --fuente-1: 'Quicksand', sans-serif;
    --fuente-2: "Railey-PersonalUse";
}

/* Configuración global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    text-align: justify;
    color: var(--color-texto)
}

/* Estilo para todos los campos de entrada de formularios (incluyendo email, búsqueda, etc.) */
input[type="email"],
input[type="text"],
input[type="search"],
textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    padding: 5px 24px;
    border: 2px solid var(--color-fondo);
    border-radius: 6px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease;
}

/* Estilo para los campos de entrada al ser enfocados */
input[type="email"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
textarea:focus {
    border-color: var(--color-secundario);
    outline: none;
}

/* Estilo para los botones en formularios */
button,
input[type="submit"],
input[type="button"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    padding: 5px 24px;
    border: 2px solid var(--color-fondo);
    border-radius: 6px;
    background-color: var(--color-secundario);
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;
}

/* Efecto hover para los botones */
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: var(--color-fondo);

}

/* Estilo para formularios*/
form {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 600px;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    background-color: var(--color-acento);
    color: var(--color-texto);
    line-height: 1.6;
    background-image: url(../assets/backgrounds/liquid-cheese.svg);
    background-size: cover;
}

header {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--color-secundario);
    padding: 0 60px;
    justify-content: space-between;
}

.header__background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/backgrounds/sssurf.svg);
    background-size: 600%;
    background-position: 49% 99px;
    background-repeat: no-repeat;
    z-index: -1;
    min-width: 1245px;
    animation: moveBackground 1.0s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;; /* Aplica la animación */
}

.header__logo {
    width: 200px;
    margin-top: 25px;
}

header a {
    display: inline-block;
    padding: 0 12px;
    border-radius: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.header__nav-link:hover {
    transform: scale(1.05);
    background-color: var(--color-fondo);
    font-weight: 600;
}

.header__nav ul {
    display: flex;
    gap: 2vw;
}

@media (max-width: 945px) {
    .header {
        padding-top: 20px;
        flex-direction: column;
    }

    .header__background {
        top: 7%;
        left: -20%;
        background-size: 600%;
    }

    .header__nav ul {
        font-size: 1.3rem;
        font-weight: 400;
        gap: 1vw;
    }
    .header__logo {
        width: 200px;
        margin-top: 25px;
    }
}

main {
    padding: 0 15vw;
}

.main__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 100px;
    min-width: 100%;
}

.main__brand .main__brand-logo {
    display: flex;
    width: 100%;
    max-width: 900px;
}

@keyframes movimiento-balanceo {
    0% {
        transform: translateX(0) rotate(-25deg);
    }
    50% {
        transform: translateX(-600%) rotate(25deg);
    }
    100% {
        transform: translateX(0) rotate(-25deg);
    }
}

.main__brand-dogs {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 100px;
    z-index: 2;
    animation: expandirPerros 1.2s ease-in-out forwards;
    will-change: width;
}

@keyframes expandirPerros {
    0% {
        width: 40px;
    }
    100% {
        width: 100%;
    }
}

/* Barras laterales */

.main__brand-dogs::before, .main__brand-dogs::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: var(--color-fondo);
}

.main__brand-dogs::before {
    background-color: var(--color-secundario);
}

.main__brand-dogs::after {
    right: 0;
}

/* Contenedor de las imágenes duplicadas */
.main__brand-dogs-wrapper {
    display: flex;
    gap: 50px;
    width: 100%; /* El contenedor será el doble de ancho que el visible */
}


.main__brand-dogs img {
    width: 90px;
    height: 90px;
    animation: movimiento-balanceo 45s linear infinite;
    z-index: 1;
}

.main__brand p {
    color: white;
    border: solid 1px var(--color-primario);
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.main__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 0;
    gap: 50px;
    margin: 0 auto;
    font-family: var(--fuente-1);
    color: white;
    font-size: 1.3rem;
    font-weight: lighter;
    
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    gap: 30px;
    margin: 0 auto;
}

.product h3 {
    border-bottom:solid 15px var(--color-secundario);
    display: inline-block;
    padding-bottom: 4px;
    line-height: 0;
    font-size: 2.2rem;;
}

.product img {
    width: 100%;
    transform: scale(1); /* Estado inicial normal */
    transition: transform 0.3s ease; /* Transición al entrar/salir del hover */
}

.product img:hover {
    animation: balanceo 1.0s cubic-bezier(0.42, 0, 0.58, 1) 1; /* Animación más fluida */
    transform: scale(1.1)
}

@media (max-width: 945px) {
    .main__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .product h3 {
        border-bottom:solid 12px var(--color-secundario);
        font-size: 1.6rem;
        padding-bottom: 3px;
    }
}

@keyframes balanceo {
    0% {
        transform: scale(1.1) rotate(0deg); /* Comienza recto */
    }
    33% {
        transform: scale(1.1) rotate(-7deg); /* Inclina más a la izquierda */
    }
    66% {
        transform: scale(1.1) rotate(4deg); /* Vuelve un poco a la derecha */
    }
    100% {
        transform: scale(1.1) rotate(0deg); /* Regresa recto */
    }
}

.main__newsletter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 150px;
    position: relative;
    width: 100%;
    max-width: 1100px;
    padding: 30px;
    border: 3px solid;
    border-radius: 15px;
    border-color: var(--color-acento);
}

.main__newsletter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-fondo);
    opacity: 0.7;
    border-radius: 12px;
    z-index: -1;
}

.newsletter__left, .newsletter__right {
    flex: 1;
}

.newsletter__left {
    display: flex;
    gap: 35px;
}

.main__newsletter img {
    width: 150px;
    height: auto;
    object-fit:contain;
}

.main__newsletter h1 {
    font-family: "Railey-PersonalUse";
    font-size: 3rem;
    color: white;
    font-weight: lighter;
}

.main__newsletter h3 {
    margin-bottom: 9px;
}

.main__newsletter i {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.newsletter__right {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    font-size: 0.8rem;
    gap: 10px;
}

@media (max-width: 1450px) {
    .main__newsletter {
      flex-direction: column; /* Cambia la dirección de los elementos para apilarse verticalmente */
      max-width: 600px;
      gap: 30px;
      padding: 20px;
      margin-bottom: 100px; /* Ajusta el margen inferior */
    }
  
    .newsletter__left, .newsletter__right {
      flex: none; /* Permite que los divs ocupen el espacio completo */
      margin: 0 auto;
      width: 85%; /* Asegura que ocupen el 100% de su contenedor */
      padding-top: 0px;
    }
  
    .main__newsletter h1 {
      font-size: 4rem; /* Reduce el tamaño de la fuente */
    }

}

@media (max-width: 885px) {
    .main__newsletter {
        flex-direction: column; /* Cambia la dirección de los elementos para apilarse verticalmente */
        max-width: 600px;
        gap: 30px;
        padding: 30px;
        margin-bottom: 100px; /* Ajusta el margen inferior */
    }
    
    .newsletter__left, .newsletter__right {
    flex: none;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 0px;
    }

    .newsletter__form {
        width: 100%;
    }

    .main__newsletter input {
        width: 100%;
    }
    
    .main__newsletter h1 {
    font-size: 4.4rem; /* Reduce el tamaño de la fuente */
    }

    .main__newsletter img {
    display: none;
    }

    .newsletter__benefits {
        margin: 0 auto;
    }

    .newsletter__benefits h1 {
        text-align: center;
    }

}

footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 10vw;
    padding-bottom: 90px;
}

@keyframes moveBackground {
    from {
        background-position: 37% 0px; /* Posición inicial */
    }
    to {
        background-position: 40% 0px; /* Posición final */
    }
}

.footer__links ul {
    display: flex;
    width: 200px;
    gap: 10px;
}

.footer__links-list a:hover {
    border-bottom:solid 8px var(--color-secundario); /* Cambia el color y grosor según lo necesites */
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 2px;
    line-height: 0; /* Elimina cualquier espacio adicional de línea */
}

.footer__socials ul {
    display: flex;
    gap: 20px;
}

.footer__socials ul li a img {
    width: 35px;
    height: auto;
}

.footer__links ul {
    flex-direction: column;
    color: white;
    text-align: center;
}

.footer__apps {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.footer__apps p {
    color: white;
}

.footer__apps-list {
    margin-bottom: 40px;
    
}

.footer__apps-list ul {
    display: flex;
    gap: 20px;
}

.footer__apps-list ul li img {
    max-width: 180px;
}

@media (max-width: 1168px) {
    footer {
        flex-direction: column;
        padding: 0 10vw;
        padding-bottom: 100px;
        align-items: center;
        gap: 25px;
    }

    .footer__links ul {
        text-align: center;
    }

    .footer__apps {
        align-items: center;
    }
}